body {
  /* margin: 0; */
  padding-top: 60px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  padding: auto;
   /* margin: auto; */
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.demo8-outer {
  background-color: #EEE;
  color: #FFF;
  /* position: absolute; */
  width: 100%;
  height: 100%;
  margin-top: auto;
  font: 28px/1em "Helvetica";
  display: flex;
  justify-content: center;
  align-items: center;
  display: -webkit-flex;
  -webkit-justify-content: center;
  -webkit-align-items: center;
}

.nav {
  background-color: #fff;
  height: 60px;
  position: fixed;
  top: 0;
  margin: 0, auto;
  width: 100%;
  float: left;
  z-index: 9;
  font-weight: bolder;
  padding-left: 3px;
  text-align: left;
}

ul{
  padding-top: 100px;
  align-content: center;
  justify-content: center;
}

li {
  align-content: center;
  justify-content: center;
}

/* .create-form{
  padding: 1rem;
  text-align: center; 
} 

/* body {
  cursor: url('cursor.png') 39 39, auto;
} */



.demo8 {
  width: 320px;
  height: 400px;
}

.task-item {
  width: 320px;
  /* height: 90px; */
  overflow: visible;
  pointer-events: auto;
  transform-origin: 50% 50% 0px;
  border-radius: 4px;
  color: rgb(124, 114, 114);
  /* line-height: 96px; */
  padding: auto;
  font-size: 24px;
  font-weight: 400;
  background-color: rgb(255, 255, 255);
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}